.link {
  @mixin light {
    color: var(--mantine-color-dark-2);

    @mixin hover {
      color: var(--mantine-color-dark-11);
    }
  }

  @mixin dark {
    color: var(--mantine-color-dark-1);

    @mixin hover {
      color: var(--mantine-color-dark-0);
    }
  }
}

.linkActive {
  @mixin light {
    color: var(--mantine-color-dark-11);
  }
  @mixin dark {
    color: var(--mantine-color-dark-0);
  }
}
